body {
    background: #31b3ac;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
.swiper-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
  }
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 485px;
    height: 443px;
    background: #fff;
    box-shadow: 5px 5px 5px black;
  }

.swiper-slide .imgBx {
    width: 100%;
    height: 363px;
    overflow: hidden;
}

.swiper-slide .imgBx img {
    width: 100%;
}

.swiper-slide .details {
    box-sizing: border-box;
    padding: 20px;
}

.swiper-slide .details h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.swiper-slide .details h3 span {
    font-size: 16px;
    color: #31b3ac;
}

